<div class="hidden-xs col-sm-2 sidebar">
  <aside>
    <div class="homelink" %>
      <%= link_to "Home", pages_path %>
    </div>
    
    <div class="goto-page" %>
      <%= form_tag("/", method: "get") do %>
        <div class="input-group">
          <%= text_field_tag(:go_to_page, nil, placeholder: "Go to page", class: "form-control input-sm") %>
          <span class="input-group-btn">
            <%= button_tag(type: "submit", title: "Go", class: "btn btn-default btn-sm") do%>
              <span class="glyphicon glyphicon-chevron-right text-primary"></span>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
    
    <div>
      <%= raw(@sidebar.formatted_html) %>
    </div>

    <div>
      <%= link_to edit_page_path(@sidebar), class: "btn btn-default btn-sm" do%>
          <span class="glyphicon glyphicon-edit text-primary"></span> Edit sidebar
      <% end %>
   </div>
  </aside>
</div>
