<div class="col-xs-2 col-sm-2 col-md-2 col-lg2 wiki-sidebar">
  <aside>

    <div class="sidebar-homelink" %>
      <%= link_to "Home page", pages_path %>
    </div>
    
    <div class="sidebar-goto" %>
      <%= form_tag("/", method: "get") do %>
        <%= label_tag(:go_to_page, "Go to page:") %>
        <%= text_field_tag(:go_to_page) %>
        <%= submit_tag("Go", class: "btn btn-primary btn-xs") %>
      <% end %>
    </div>
    
    <div>
      <%= raw(@sidebar.formatted_html) %>
      <%= link_to "Edit sidebar", edit_page_path(@sidebar), class: "btn btn-primary btn-xs" %>
    </div>
  </aside>
</div>
